@font-face {
    font-family: 'Quicksand';
    src: url('../assets/Quicksand_Bold.otf') format('truetype');
}

body {
    background: rgb(31, 41, 55);
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 5vw;
    font-family: Quicksand, sans-serif;
}

h1 {
    color: rgb(219, 234, 254);
    font-size: 2.5vw;
    margin-bottom: 0.001vw;
}

.description {
    color: rgb(219, 234, 254);
    font-size: 1vw;
    padding-left: 0.25vw;
}

input {
    width: 9vw;
    height: 0.8vw;
    border-radius: 0.4vw;
    padding: 0.6vw;
    font-size: 0.7vw;
    border: 0 solid;
    background-color: #1581c0;
    color: white;
    font-family: Quicksand, sans-serif;
}

input:active,
input:focus {
    outline: none;
}

input:hover, .btn:hover, .server-btn:hover {
    background-color: #0d86dd;
    cursor: pointer;
}

input::placeholder {
    color: white;
}

.btn {
    width: 8vw;
    height: 2vw;
    border-radius: 0.4vw;
    font-size: 0.7vw;
    border: 0 solid;
    background-color: #1581c0;
    color: white;
    align-self: center;
    font-family: Quicksand, sans-serif;
    padding: 0;
}


.server-buttons {
    position:fixed;

    display: flex;

    gap: 1vw;
    right: 5vw;
    bottom: 4vw;
}

.server-btn {
    width: 8vw;
    height: 8vw;
    border-radius: 0.4vw;
    border: 0 solid;
    background-color: #1581c0;
    font-family: Quicksand, sans-serif;
    padding: 0;
}

.server-btn img {
    width: 100%;
    height: 100%;
    border-radius: 0.4vw;
}

.social {
    position: absolute;
    top: 1.5vw; 
    padding: 4px 0;
    right: 5vw; 

    display: flex;
    flex-direction: row;
}

.github, .discord {
    background-color: transparent;
    border-color: transparent;

    height: 3vw;

    border-radius: 0.4vw;
}

.discord:hover, .github:hover {
    cursor: pointer;
}

.discord {
    height: 3vw;
    width: 7vw;
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    align-items: right;
    height: 2vw;
    width: 100%;
    bottom: 0;
}

#loading {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#error {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: indianred;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
    .container {
        height: auto;
        padding-left: 3vw;
    }

    h1 {
        font-size: 4vw;
    }

    .description {
        font-size: 2vw;
        padding-left: 0;
    }

    input, .btn {
        width: 30vw;
        height: 7.2vw;
        font-size: 3vw;
    }

    input, .input {
        width: 30vw;
        height: 6vw;
    }

    .server-buttons {
        align-items: center;
    }

    .server-btn {   
        width: 15vw;
        height: 15vw;
    }

    .github {
        width: 8vw;
        height: 8vw;
    }

    .discord {
        width: 18vw;
        height: 8vw;
    }

    .social {
        gap: 2vw;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 2vw;
    }

    h1 {
        font-size: 6vw;
    }

    .description {
        font-size: 3vw;
    }

    input, .btn {
        width: 40vw;
        height: 10vw;
        font-size: 4vw;
    }
}
